name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ${{ matrix.os }}-latest

    strategy:
        fail-fast: false
      matrix:
        os: ['ubuntu', 'macos']
    steps:
    - uses: actions/checkout@v4
    - name: autoconf
      run: autoreconf -ivf
    - name: configure
      run: ./configure
    - name: make
      run: make
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck
