name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  test:
    name: build and test
    runs-on: ${{ matrix.os }}
    strategy:
        fail-fast: false
        matrix:
          os: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v4

      # macOS only
      - name: Install autoconf (macOS)
        if: runner.os == 'macOS'
        run: brew install autoconf automake libtool pkg-config

      # Linux only
      - name: Install autoconf (Linux)
        if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install autoconf automake libtool pkg-config
   
      - name: autoconf
        run: autoreconf -ivf
      - name: configure
        run: ./configure
      - name: make
        run: make
      - name: make check
        run: make check
      - name: make distcheck
        run: make distcheck
